@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

/* Customize the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #7289da7b; /* Color for the scrollbar handle */
  border-radius: 6px; /* Round the corners of the handle */
}

/* Optional: Customize scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5A67D8; /* Change color on hover */
}


.herosection{
  background: url(..//public/images/homeimages/heroimage.jpg) no-repeat center top / cover ;
  height: 100vh;
  background-attachment:fixed ;

}


table{
  width: 100%;
}

tbody{
  display:block;
  max-height:300px;
  overflow-y:auto;
  overflow-x: hidden;   
}

tbody::-webkit-scrollbar{
  display: none;    
}


thead , tr {
  display:table;
  width: 100%;
  table-layout:fixed;  
}
tbody,thead{
  width: 100%;
}



tr{
  padding: 5px; 
}


th{
  text-align: left;
  font-size: 16px;
  background-color: #7289DA;
  padding: 5px;
  /* border-radius: 8px; */
  color: white;
}

td{
  padding: 10px;
  /* border-radius: 8px; */
}

tr:hover td{
  background-color: lightgray;
  /* border-bottom:1px solid #101010; */
  cursor: pointer;
}
